<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        @DateTime.Now.Year
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", false)
    </footer>
</body>

</html>