@using Spaceport.Nasa.Web.Entities;
@model Spaceport.Nasa.Web.Entities.Spaceship
<!DOCTYPE html>
<html>

<head>
    <title>Create</title>
</head>

<body>
    <h1>Create</h1>

    @using(Html.BeginForm())
    {
        <div>
            @Html.LabelFor(_ => _.Name)
            @Html.EditorFor(_ => _.Name)
            @Html.ValidationMessageFor(_ => _.Name)
        </div>
        <div>
            @Html.LabelFor(_ => _.Type)
            @Html.DropDownListFor(_ => _.Type, Html.GetEnumSelectList(typeof(SpaceshipType)))
            @Html.ValidationMessageFor(_ => _.Type)
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    }
</body>

</html>