@model Spaceport.Nasa.Web.Entities.Spaceship
<!DOCTYPE html>
<html>

<head>
    <title>@Model.Name</title>
</head>

<body>
    <h1>@Model.Name</h1>
    <div>Id: @Model.Id</div>
    <div>Type: @Model.Type</div>
</body>

</html>