@model Spaceport.Nasa.Web.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table>
        @foreach (var spaceship in Model.Spaceships)
        {
            <tr>
                <td>@Html.ActionLink(spaceship.Id.ToString(), "Details", new { id = spaceship.Id })</td>
                <td>@spaceship.Name</td>
            </tr>
        }
    </table>
@section footer{
    <h3>@Model.CurrentGreeting</h3>
}